version: "3.9"

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.17.0
    container_name: es
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
      - xpack.security.enabled=false
    ports:
      - "9201:9200"
    volumes:
      - es_data:/usr/share/elasticsearch/data

  python-app:
    build: .
    container_name: python-app
    depends_on:
      - elasticsearch
    volumes:
      - .:/app
    working_dir: /app
    entrypoint: >
      sh -c "
      python tools/load_catalog.py --index &&
      python tools/evaluate.py --queries data/prefix_queries.csv --output reports/evaluation_template.csv
      "

volumes:
  es_data: